div.poll {
    max-width: 800px;
}

.poll-title {
    font-size: 24px;
    margin: 5px;
}

.question {
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}

.question-title {
    font-size: 18px;
    margin: 5px;
}

.question-content {
    margin: 5px;
}